body {
    background-color: #f0f0f0;
}

header {
    color: #fff;
    padding: 10px;
    text-align: center;
}

article {
    padding: 20px;
}

.noticia-imagen {
    max-width: 80%;
    height: auto;
}

.gris {
    color: #666;
    font-size: smaller;
}

.container {
    max-width: 1100px;
    margin-bottom: 30px;
}